@font-face {
  font-family: bangla1;
  src: url("font/banglafont.ttf");
}

.w80 {
  width: 80%;
}

.ct {
  display: flex;
  justify-content: center;
}
.searchbtn{
display: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(240, 240, 240);
}


.nav {

  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: #fff;
  background-image: linear-gradient(30deg, rgb(0, 255, 145), rgb(0, 128, 255));
}
.botomnav{
  z-index: 100;
  position: fixed;
  bottom: 0; 
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: #fff;
  background-image: linear-gradient(-30deg, rgb(0, 255, 145), rgb(0, 128, 255));
}
.title {
  font-size: 33px;
  font-family: bangla1;
}

.navtitle {
  color: rgb(255, 0, 136);
  position: absolute;
  top: 10px;
}
.ddx{
 display: none;
}
.navsid {
  top: 10px;
  position: absolute;
  right: 100px;
}

.sw {
  width: 200px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.399);
  border: 2px solid #4680ff;
  border-radius: 5px;
  padding: 4px;
  outline-color: #00000000;
  text-align: center;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 15pt;
  font-family: bangla1;
}

.navdat{
  color: white;
}
.ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.li{
  display: inline;
}
.navbttn{
text-decoration-line: none;
color: auto;
cursor: pointer;
color: #fff;
transition: all 0.4s;
padding: 15px;
box-shadow: 0 0 100px 0 #fff;
}
.icon{
  font-size: 23px;
}
.navtxt{
  font-size: 15pt;

}
.navbttn:hover{
  background-color: #ffffff;
  border-radius: 100px;
  color: #000;
  box-shadow: 0 0 1px 0 #fff;
}
.pop{
  overflow: auto;
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.571);
  position: fixed;
  bottom: 0;
  animation: youi 0.2s;
}
@keyframes youi {
  0%{
height: 0vh;
  }
  100%{
    height: 100vh;
      }
}
.vcc{
display: none;
}
.btn{
  font-size: 33px;
  color: red;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 10px;
  cursor: pointer;
}
.btn:active{
  background-color: red;
  color: azure;
}
.user {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  display: flex;
}
.imgbox img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.user2 {
  flex: 1;
  padding: 10px;
}
.user3 {
  padding: 10px;
}
a{
  text-decoration-line: none;
}
.imges{
  align-items: center;
  justify-content: center;
  text-align: center;
}
.imges img{
  height: 300px;
  width: 300px;
}
.rotetitle{
  
  position: absolute;
  top: 190px;
  right: 30%;
  height: 60px;
  width: 200px;
  font-size: 30px;
  font-family: bangla1;
  transform: rotate(-90deg);
  color: rgb(13, 202, 158);
}
.dw1{
height: auto;
width: 100%;
background-image: linear-gradient(50deg , rgba(0, 255, 217, 0.534) , rgba(132, 255, 0, 0.397));
border-radius: 9px;
box-shadow: rgba(94, 255, 0, 0.692) 0px 50px 100px -20px, rgba(255, 0, 0, 0.994) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    font-family: bangla1;
    padding: 1px;
}
.topstr{
  margin: 0;
  padding: 0;
  color: #FF00A9;
  text-align: center;
  border-bottom: 1px solid #0050FF;
}
.useratn{
  height: 60px;
  width: 60px;
  border-radius: 60px;
  margin: 3px;
}
.rootapp{
  width: 250px;
  height: 100px;
  background-color: #42445A;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
/*=================================== css media quruy mobile ============================= */

@media only screen and (max-width: 1000px) {
  .ddx{
    display: block;
    padding: 5px;
    border-radius: 100px;
    background-color: red;
    color: white;
    margin: 8px;
    text-align: center;
  }
  .w80 {
    width: 96%;
  }
  .navtxt{
    font-size: 15pt;
    display: none;
  }
  .navsid {
    display: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 7px;
    padding: 20px;
    width: 200px;
    position: fixed;
    background-color: #fff;
    background-image: linear-gradient(30deg, rgb(0, 255, 145), rgb(0, 128, 255));
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .sw {
    width: 200px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.399);
    border: 2px solid #4680ff;
    border-radius: 5px;
    padding: 4px;
    outline-color: #00000000;
    text-align: center;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 15pt;
    font-family: bangla1;
    margin: 3px;
  }
.searchbtn{
  display: block;
  top: 10px;
  position: absolute;
  right: 40px;
  background-color: #fff;
  background-image: linear-gradient(30deg, rgb(0, 255, 145), rgb(0, 128, 255));
  padding: 10px;
  font-size: 20px;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  cursor: pointer;
  color: wheat;
}
.title {
  font-size: 25px;
  font-family: bangla1;
}
.string{
  font-size: 12pt;
}
.user .icon{
  font-size: 18px;
}
.user .title{
  font-size: 19px;
}
.imges{
  align-items: none;
  justify-content: none;
  text-align: left;
}
.imges img{
  height: 200px;
  width: 200px;
}
.rotetitle{
  position: absolute;
  top: 110px;
  right: 0px;
  height: 60px;
  width: 200px;
  font-size: 30px;
  font-family: bangla1;
  transform: rotate(-90deg);
  color: rgb(13, 202, 158);
}

}